@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100vh;
  /* font-family: 'Montserrat', sans-serif; */
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}

.post-content pre {
  background-color: #09090b;
  border-radius: 3px;
  padding: 10px;
  overflow-x: auto;
}

.post-content code {
  font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 0.9rem;
}


/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Custom HLJS theme */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #09090b;
  color: #f8f8f2;
}

.logo-hover {
  transition: filter 0.3s ease-in-out;
}
.logo-hover:hover {
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.effect-hover {
  transition: filter 0.3s ease-in-out;
}
.effect-hover:hover {
  filter: drop-shadow(0 0 8px rgba(73, 73, 73, 0.3));
}

.effect-hover1 {
  transition: filter 0.3s ease-in-out;
}
.effect-hover1:hover {
  filter: drop-shadow(0 0 8px rgba(73, 73, 73, 0.3));
}

.effect-hover2 {
  transition: filter 0.3s ease-in-out;
}
.effect-hover2:hover {
  filter: drop-shadow(0 0 10px rgba(88, 88, 88, 0.9));
}

.shadow-bg {
  filter: drop-shadow(0 0 8px rgba(49, 49, 49, 0.9));
}

.bg-color {
  background: #14021F;
}
