@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100vh;
  /* font-family: 'Montserrat', sans-serif; */
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}

.post-content pre {
  background-color: #111827;
  border-radius: 3px;
  padding: 10px;
  overflow-x: auto;
}

/* .post-content code {
  font-family: 'Courier New', Courier, monospace;
} */


/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* Custom HLJS theme */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #111827;
  color: #f8f8f2;
}
